*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::placeholder {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: hsl(270, 3%, 87%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.relative {
    position: relative;
    /* height: 0px; */
}


.absolute {
    position: absolute;
}

body {
    background-color: white;
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden;
    font-weight: 500;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
}


.bg-img-desktop {
    height: 99vh;
}

.bg-img-mobile {
    display: none;
}

.bg-card-front {
    top: -590px;
    left: 30%;
    filter: drop-shadow(10px 4px 1rem hsl(279, 6%, 55%));

}

.text-on-front {
    width: 400px;
    transform: translate(170px, -435px);
    color: white;
}

.text-on-front .card-number {
    font-size: 1.5rem;
}

.text-on-front .name,
.text-on-front .exp {
    margin-top: 1rem;
    margin-bottom: .5rem;
    letter-spacing: .15rem;
    font-size: .85rem;
    font-weight: 400;
    text-transform: uppercase;
}

.text-on-back {      
    transform: translate(620px, -260px);
    color: white;
    font-weight: 400;
    font-size: .75rem;
    letter-spacing: .15rem;
}

.bg-card-back {
    left: 60%;
    top: -300px;
    filter: drop-shadow(7px 4px 1rem hsl(279, 6%, 55%));
}

.card-logo {
    top: -550px;
    left: 40%;
    z-index: 10;

}

.form {
    width: 30%;
    margin-inline: auto;
    /* display: none; */
}

form {
    gap: 1rem;
}

form input {
    padding: .85rem;
    border-radius: .5rem;
    border: 2px solid hsl(270, 3%, 87%);
    outline: none;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

form input:hover,
form input:active {
    border: 2px solid;
    border-radius: .5rem !important;
    border-image: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%))1;
}

.wrapper input {
    margin-top: .75rem;
}

#date-and-year-error,
#cvc-error {
    font-size: .75rem;
    color: hsl(0, 100%, 66%);
    margin-top: -0.5rem;
    visibility: hidden;
    user-select: none;

}

.error {
    font-size: .75rem;
    color: hsl(0, 100%, 66%);
    margin-top: -0.5rem;
    user-select: none;
}

.date-and-year>div {
    gap: .75rem;
}

.date-and-year input {
    width: 45%;
}

.confirm-btn,
.continue-btn {
    padding: .85rem;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: .5rem;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.completion {
    margin-inline: auto;
    gap: 1rem;
    width: 25%;
    display: none;
}

.completion h1 {
    letter-spacing: .25rem;
    font-weight: 400;
}

.completion p {
    color: hsl(279, 6%, 55%);
    margin-bottom: 1rem;
}

.completion button {
    width: 100%;
}
